---
import { SITETITLE } from "../../consts";
import "../assets/app.css";
import Nav from "../components/Nav.astro";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${Astro.props.title}` ? `${Astro.props.title} | ${SITETITLE}` : `${SITETITLE}`}</title>
	</head>
	<body>
		<Nav />
		<main class="container mx-auto px-4">
			<slot />
		</main>
	</body>
</html>
